
<h3>Update Company</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Company Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="company.companyName" name="name">
      </div>
      <div class="form-group">
        <label for="name">Code</label>
        <input type="number" class="form-control" id="code" required [(ngModel)]="company.code" name="code">
      </div>

    <div class="form-group">
      <label for="name">Company CEO</label>
      <input type="text" class="form-control" id="companyCeo" required [(ngModel)]="company.ceo" name="companyCeo">
    </div>

    <div class="form-group">
      <label for="name">Board of Directors</label>
      <input type="text" class="form-control" id="boardofDirectors" required [(ngModel)]="company.boardofDirectors" name="boardofDirectors">
    </div>
    <div class="form-group">
        <label for="name">Sector</label>
        <input type="text" class="form-control" id="sector" required [(ngModel)]="company.sector" name="sector">
      </div>
      <div class="form-group">
        <label for="name">Turnover</label>
        <input type="number" class="form-control" id="turnover" required [(ngModel)]="company.turnover" name="turnover">
      </div>
      <div class="form-group">
        <label for="name">Company Brief</label>
        <input type="text" class="form-control" id="brief" required [(ngModel)]="company.companyBrief" name="brief">
      </div>
      <div class="form-group">
        <label for="name">Stock Exchange</label>
        <input type="text" class="form-control" id="exchange" required [(ngModel)]="company.stockExchange" name="exchange">
      </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<p align="center"> <a [routerLink]="['/companies']" routerLinkActive="router-link-active" >Back to Company List</a></p>
<p align="center"> <a [routerLink]="['/']" routerLinkActive="router-link-active" >Back to Home</a></p>



